<div class="dashboard-container d-flex">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="content container mainDiv">
        <h1 class="text-center my-4">Patient Dashboard</h1>
        <div class="row" style="width: 100%;display: flex;align-items: center;justify-content: center;">
            <div class="col-md-6 mb-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">Profile</div>
                    <div class="card-body">
                        <p class="card-text">Role: {{role[0].toUpperCase()+ role.slice(1)}}</p>
                        <p class="card-text">Email: {{email}}</p>
                        <a class="btn btn-secondary" id="btn1" [routerLink]="['/patient/add']">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">Add Case</div>
                    <div class="card-body">
                        <p class="card-text">Patient Case</p>
                        <p class="card-text">Create patient's cases</p>
                        <a class="btn btn-secondary" id="btn1" [routerLink]="['/patient/add']">Add Case</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-data-table></app-data-table>
