<div class="table-container">
    <div class="search-bar">
        <input type="text" placeholder="Search Cases..." [(ngModel)]="searchTermforCases" class="search-input" />
    </div>
    <ngx-datatable class="material custom-table" [rows]="filteredCases" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [limit]="pageSize" [offset]="page" [scrollbarH]="true"
        [style.width.px]="1150">
        <ngx-datatable-column name="Case ID" prop="id" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Category" prop="category" [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="Purpose of Visit" prop="purpose_of_visit" [width]="250"></ngx-datatable-column>
        <ngx-datatable-column name="Case Type" prop="case_type" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="DOA" prop="DOA" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Insurance Name" prop="insurance_name" [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="Firm Name" prop="firm_name" [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="Practice Location" prop="practice_location_name"
            [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="Actions" [width]="200">
            <ng-template ngx-datatable-cell-template let-row="row">
                <div class="action-buttons">
                    <button class="action-btn view-btn" (click)="view(row.id)">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button class="action-btn edit-btn" (click)="editCase(row)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="action-btn add-btn" (click)="addAppointment(row.id)">
                        <i class="fas fa-add"></i>
                    </button>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <div class="pagination-controls">
        <button class="pagination-btn" (click)="previousPage()" [disabled]="page === 0">
            <span>&#9664;</span> Previous
        </button>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="page >= (filteredCases.length / pageSize) - 1">
            Next <span>&#9654;</span>
        </button>
    </div>
</div>
<div class="table-container">
    <div class="search-bar">
        <input type="text" placeholder="Search Appointments..." class="search-input"
            [(ngModel)]="searchTermforAppointment" />
    </div>
    <div *ngIf="selectedCaseAppointments && selectedCaseAppointments.length">
        <h3>Appointments for Case ID: {{ selectedCaseId }}</h3>

        <ngx-datatable class="material custom-table" [rows]="selectedCaseAppointments" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [style.width.px]="1150"
            [limit]="pageSizeA" [offset]="pageA">

            <ngx-datatable-column name="Appointment ID" prop="id" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Description" prop="Description" [width]="300">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <span class="description-text" [matTooltip]="row.Description" matTooltipPosition="above"
                        matTooltipShowDelay="300" [attr.title]="row.Description"
                        [ngClass]="{'text-truncated': row.Description.length > 15}">
                        {{ row.Description.length > 15 ? (row.Description | slice:0:15) + '...' : row.Description }}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="date" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="appointment_time" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Doctor Name" prop="doctor_name" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Duration" prop="Duration" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Appointment Type" prop="appointment_type" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Location" prop="practice_location_name" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="150">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="edit-btn" (click)="editAppointment(row)">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div class="pagination-controls">
        <button class="pagination-btn" (click)="previousPageAppointment()" [disabled]="pageA === 0">
            <span>&#9664;</span> Previous
        </button>
        <button class="pagination-btn" (click)="nextPageAppointment()"
            [disabled]="page >= (selectedCaseAppointments.length / pageSizeA) - 1">
            Next <span>&#9654;</span>
        </button>
    </div>
</div>