<div class="dashboard container mt-4">
    <mat-card class="card doctor-card">
      <mat-card-header>
        <mat-icon color="primary">medical_services</mat-icon>
        <div class="card-title">Doctors</div>
      </mat-card-header>
      <mat-card-content>
        <br>
        <h2 class="count">3</h2>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card patient-card">
      <mat-card-header >
        <mat-icon color="accent">people</mat-icon>
        <div class="card-title">Patients</div>
      </mat-card-header>
      <mat-card-content>
        <br>
        <h2 class="count">4</h2>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="container mt-4">
    <app-data-tables></app-data-tables>
  </div>
