<div>
    <h3>Appointments for Doctor</h3>
    <ngx-datatable class="material custom-table" [rows]="selectedCaseAppointments" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" 
        [style.width.px]="1050">
        <ngx-datatable-column name="Appointment ID" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="Description" prop="Description">
            <ng-template ngx-datatable-cell-template let-row="row">
                <span class="description-text" [matTooltip]="row.Description" matTooltipPosition="above"
                    matTooltipShowDelay="300" [attr.title]="row.Description"
                    [ngClass]="{'text-truncated': row.Description.length > 15}">
                    {{ row.Description.length > 15 ? (row.Description | slice:0:15) + '...' : row.Description }}
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date" prop="date" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Time" prop="appointment_time" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Duration" prop="Duration" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Appointment Type" prop="appointment_type" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Location" prop="practice_location_name" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Specialty" prop="speciality_name" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-row="row">
                <button class="edit-btn" (click)="editAppointment(row)">
                    <i class="fas fa-edit" ></i> Edit
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>