<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="appointment-form">
  <mat-card>
    <mat-card-title class="mat-card-title">Appointment Information</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Case</mat-label>
        <mat-select formControlName="selectedCase" required>
          <mat-option *ngFor="let case of cases" [value]="case.id">
            {{ 'Case '+case.id }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf=" appointmentForm.get('selectedCase')?.hasError('required')">
          Case selection is required
        </mat-error>
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="appointmentForm.get('date')?.hasError('required')">
            Date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time" required>
          <mat-error *ngIf="appointmentForm.get('time')?.hasError('required')">
            Time is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Appointment Type</mat-label>
        <mat-select formControlName="appointmentType" required>
          <mat-option *ngFor="let type of appointmentTypes" [value]="type.id">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('appointmentType')?.hasError('required')">
          Appointment Type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Speciality</mat-label>
        <mat-select formControlName="speciality" required (selectionChange)="fetchDoctor()">
          <mat-option *ngFor="let speciality of specialities" [value]="speciality.id">
            {{ speciality.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('speciality')?.hasError('required')">
          Speciality is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Practice Location</mat-label>
        <mat-select formControlName="location" required (selectionChange)="fetchDoctor()">
          <mat-option *ngFor="let location of locations" [value]="location.id">
            {{ location.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('location')?.hasError('required')">
          Practice Location is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Doctor</mat-label>
        <mat-select formControlName="doctor" required>
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{ doctor.user.firstName+doctor.user.middleName+doctor.user.lastName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('doctor')?.hasError('required')">
          Doctor selection is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Duration (minutes)</mat-label>
        <input matInput formControlName="duration" required>
        <mat-error *ngIf="appointmentForm.get('duration')?.hasError('required')">
          Duration is required
        </mat-error>
        <mat-error *ngIf="appointmentForm.get('duration')?.hasError('pattern')">
          Duration must be a number
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit Appointment</button>
    </mat-card-actions>
  </mat-card>
</form>
