<button class="btn btn-primary" id="sidebarToggle" (click)="toggleSidebar()" style="margin: 1rem;">☰</button>
<nav class="sidebar" [ngClass]="{'active': isActive}">
    <div class="sidebar-sticky">
        <h5 class="sidebar-heading">Patient Dashboard</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/patient/add">
                    Add Patient Info
                </a>
            </li>

        </ul>
    </div>
</nav>
